body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    margin: 20px;
    display: inline-block;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  